.img{
  width: 100%;
  margin-bottom: 2em;

  
}
ul li a{
  text-decoration: none;
}
.pic{
  /* background-color: green; */
  padding: 20px;
  /* margin: 10px; */
  /* height: 400px; */
  /* box-shadow: 0 -6px 7px -7px grey inset; */
  /* border-radius: 10px; */
  margin-bottom: 10px;
}
.mapouter {
  position: relative;
  text-align: right;
  width: 600px;
  height: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 600px;
  height: 400px;
}
.gmap_iframe {
  width: 600px !important;
  height: 400px !important;
}
.formap{
  
  margin-bottom: 3em;
  margin-top: 3em;
}
#txtArea {
  min-width: 100%;
  min-height: 9em;
}
.mesg{
  width: 10em;
  height: 5em;
  background: rgb(103, 103, 207);
  color: white;
  
}